<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>BookMark</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<div class="ui stackable menu">
  <div class="item">
      <a class="bk-logo" href="{% url 'bookmark:index' %}"><h1>Bookmark</h1></a>
  </div>
</div>
<div class="ui container">

{% block content %}

{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>